<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Air Quality Predictor</title>
</head>
<body>
    <header>
        <h1>Air Quality Prediction Project</h1>
        <p> By: Hanan Kwok</p>
    </header>

    <form action="/", method="POST", enctype="multipart/form-data">
        <input type="file", name="img", accept="image/*">
        <input type="submit" value="Submit">
    </form>
    {% block result %}
    {% endblock %}
</body>
</html>