<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Air Quality Predictor</title>
</head>
<body>
    <header>
        <h1>Air Quality Prediction Project</h1>
        <p> By: Hanan Kwok</p>
    </header>

    <form action="/", method="POST", id="AQform">
        <p>Enter a date (format: YYYY-MM-DD):</p>
        <input type="text" placeholder="YYYY-MM-DD" id="dateentry"/>
        <p>Choose a pollutant:</p>
        <select form="AQform" id="pollutantselect">
            <option>NO2</option>
            <option>SO2</option>
            <option>O3</option>
            <option>CO</option>
        </select>
        <p>
            <input type="submit" value="Get Prediction"/>
        </p>
    </form>
    {% block result %}
    {% endblock %}
</body>
</html>